extends layout

block content

  div.flex
    div
    h1.hor-center Login
    div.signin-block
      if loggedIn == 0
        span.signin-status.unauthenticated not signed in.
      if loggedIn == 1
        span.signin-status.authenticated signed in as:
          span(class="the-user")= username

  br

  form
    table
      tr
        th
          label email:
        td
          input(class="form-control", id="username",name="username", value= username, type="text", placeholder="<your@email.com>", autofocus, autocomplete,required)

      tr
        th
          label password: 
        td 
          input(class="form-control", id="password", name="password", type="password")

      tr
        th
        td
          span(class="error") Wrong password or email address.
          div(class="warning") Account doesn't exist.
          div(class="warning") Repeat password to create account:

      tr
        th
          label password: 
        td 
          input(type="password", id="password2", name="password2", class="form-control")
      tr
        th
        td 
          button(class="btn btn-custom") Create

      tr
        th
          label signin-test:
        td
          input(class="form-control", id="login",name="loggedIn", value= loggedIn, type="text", placeholder="<1>")


  div user: #{username}
  div pwd: #{password}
  div online? #{loggedIn}




