extends layout

block content

  div.flex
    h1.hor-center Login

  br

  // (action="") a form with no action goes to same url.
  form
    table
      // Tablerow for user name field.
      tr 
        th
          label email:
        td
          input.form-control(name="username", id="username",value= username, autofocus = (!unknownLogin && !accountCreationOK), type="text", placeholder="<your@email.com>", autocomplete, required)

      // Tablerow for password field.
      tr 
        th
          label password: 
        td 
          input.form-control(name="password", id="password", value= password, autofocus = (accountCreationOK && !unknownLogin), type="password", autocomplete, required)

      // Tablerow for validation errors.
      tr 
        th
        td
          if badLogin == 1
            span.error Wrong password or email address.

          if accountCreationFailed == 1
            span.error Account creation failed: Mismatched passwords.

          if accountCreationOK == 1
            span.success Account creation succeeded!
            br 
            span.success Welcome, doctor #{username}
            br
            span.warning Now log into your new account.

          if unknownLogin == 1
            div.warning Account doesn't exist.
            div.warning Repeat password to create account:

      // Conditional tablerow for create-new-account.
      if unknownLogin == 1
        tr
          th
            label password: 
          td 
            input.form-control(name="password2", autofocus = unknownLogin, type="password", id="password2")
        tr
          th
          td 
            button.btn.btn-custom Create


      tr
        th()

      // Diagnostics/test tablerow.
        tr
          th
            label signin-test:
          td
            input(class="form-control", id="login",name="loggedIn", value= loggedIn, type="text", placeholder="<1>")
    // Table ended here.
    
    // Default form submit-button:      
    input(type="submit", hidden)
    input(type="submit") extra-submit


 



